<!doctype html>
<html class='no-js' lang='{{ site.lang }}'>

<head>
  {% block headMeta %}
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='description' content='{{ site.description }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='theme-color' content='#2E2E2E'>

    <meta property='og:site_name' content='OurChurchToo'>
    <meta property='og:title' content={% if (title) %} '{{ title }}' {% else %} '{{ sitetitle }}' {% endif %}>
    {# <meta property='og:description' content={% if (subtitle) %} '{{ subtitle }}' {% else %} '{{ site.description }}' {% endif %}> #}
    <meta property='og:image' content=
      {# Get the images from the blog pages. #}
      {% if (image) %}
         https://ourchurchtoo.com{{ image }}
      {% endif %}>
    <meta property='og:url' content='https://ourchurchtoo.com{{ permalink }}'>
    <meta name='twitter:card' content='summary_large_image'>
  {% endblock %}

  <title>
    {% block title %}
      {{ sitetitle }}
    {% endblock %}
  </title>

  {% block headMisc %}
  {% endblock %}

  {% block headStyles %}
  {% endblock %}

  {% block headScripts %}
  {% endblock %}
</head>

<body>
  {% block body %}
    <!--[if lte IE 9]>
        <p class='browserupgrade'>You are using an <strong>outdated</strong> browser. Please <a href='https://browsehappy.com/'>upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
  {% endblock %}

  {% block bodyScripts %}
  {% endblock %}
</body>

</html>
