.item__social {
  font-size: 24px;
}

.contributor-mini,
.contributor-wide {
  .contributor__image {
    min-height: 200px;
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.contributor-mini__wrapper {
  @include transition(background-color);
  position: relative;

  &:hover {
    background-color: palette(blue);
  }

  .contributor-mini {
    @extend %item-nano;
    text-align: center;
  }

  .item__social {
    @include center(horizontal);
    bottom: 10px;

    a {
      @include transition(color);

      &:hover {
        color: palette(white);
      }
    }
  }
}

.contributor__image--placeholder {
  position: relative;
  padding-top: 200px;
  background-color: palette(grey);

  .svg-inline--fa {
    @include center(both);
    color: palette(white);
    font-size: 100px;
  }
}
