.filter__wrapper {
  position: relative;

  $filter-grid-spacing: 50px;
  $filter-label-margin: 30px;

  // &::before {
  //   @include pseudo();
  //   top: -$filter-label-margin;
  //   z-index: -1;
  //   width: 100%;
  //   height: 80px;
  //   border-bottom: 1px solid rgba(palette(blue), 0.2);
  // }

  .tab-marker {
    top: 47px;
    display: none;

    @include screen-max($screen-md) {
      display: none;
    }
  }

  input {
    display: none;

    &:checked {
      + .filter__label {
        color: palette(purple);
        opacity: 1;
      }
    }
  }

  .article-mini__wrapper {
    display: none;
  }

  $filters-list: all, the_oral_tradition, advent_2020, advent_2021, bright_spots, conference_2021, dear_me, lets_talk_about, age, allyship, bible, community, culture, disability, environment, family, gender, guest, lgbtq, mental_health, mission, race, relationships, spotlight, testimony;

  @each $filter in $filters-list {
    input#filter-#{$filter}:checked ~ .archive__list .article-mini__wrapper[data-filter~='#{$filter}'] {
      @if ($filter == 'all') {
        display: block;
      } @else {
        display: block !important;
      }
    }
  }

  .select__wrapper {
    display: block;
    width: 100%;


    select {
      @extend %font-sans-upper;
      width: 100%;
      padding: 10px;
      border-radius: $border-radius;
      appearance: none;
      -webkit-appearance: none;
      text-align: center;
      text-align-last: center;
    }

    @include breakpoint(md) {
      display: none;
    }

    .input {
      background-color: palette(grey, cloudy);
    }
  }

  .filter__label {
    @extend %font-sans-upper;
    @include transition(opacity);
    display: none;
    margin: 0 10px;
    padding: 12px 0; // aligns better with tab-marker
    border-radius: $border-radius;
    opacity: 0.5;
    cursor: pointer;

    @include breakpoint(md) {
      display: inline-block;
    }

    &:hover {
      color: palette(purple);
    }
  }
}