$footer-height-md: 223px;

.section--footer {
  overflow-x: hidden;
  border-top: 3px solid palette(pink);
  text-align: center;

  .row {
    position: relative;
    padding: 20px 0;

    &:last-child {
      &::before,
      &::after {
        @include pseudo();
        left: -55%;
        width: 200vw;
        height: 3px;
      }

      &::before {
        top: 0;
        background-color: palette(purple);
      }

      &::after {
        bottom: 0;
        height: 7px;
        background-color: palette(green);
      }
    }
  }

  p,
  li,
  a {
    @extend %font-sans-upper;
    font-weight: 500;
  }

  p {
    font-weight: 700;
  }

  a {
    @include transition(color);

    &:hover {
      color: palette(blue) !important;
    }
  }

  .legal-links {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .social {
    li,
    a {
      font-size: 16px;

      @include breakpoint(md) {
        font-size: 14px;
      }
    }
  }
}

.footer__newsletter {
  text-align: left;

  form {
    position: relative;
  }

  input {
    @extend %font-sans;
    width: 100%;
    padding: 14px 15px 13px;
    border: 1px solid palette(black);

    @include breakpoint(md) {
      padding-right: 150px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 15px;

    @include breakpoint(md) {
      position: absolute;
      top: 0;
      right: 0;
      width: unset;
      margin-top: 0;
    }
  }
}
