.section--hero {
  position: relative;
  padding: 50px 0;

  .col--text {
    position: relative;
  }

  h1 {
    margin-right: 40px;
    margin-bottom: 40px;
    color: palette(white);

    @include breakpoint(md) {
      @include center(vertical);
    }

    span {
      color: palette(purple);
    }
  }

  .social {
    position: absolute;
    bottom: 0;
  }

  img {
    margin-top: 40px;

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}
