.section--hero {
  @include background-wide(palette(purple));
  position: relative;
  padding: 50px 0;

  .col--text {
    position: relative;
  }

  .col--text:not(:only-child) {
    h1 {
      @include breakpoint(md) {
        @include center(vertical);
        margin-right: 40px;
      }
    }
  }

  h1 {
    margin-bottom: 40px;
    color: palette(white);

    span {
      color: palette(purple);
    }
  }

  .social {
    position: absolute;
    bottom: 0;
  }

  img {
    margin-top: 40px;

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}
