$menu-height-md: 87px;
$mobile-menu-animation-time: .4s;

%link-style {
  @extend %font-sans;
  padding: 30px 0;
  color: palette(black);
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;

  @include breakpoint(md) {
    padding: 10px 15px;
    color: palette(white);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &:hover {
    color: palette(black);
  }
}

%link-style-mobile {
  @extend %font-sans;
  padding: 30px 0;
  color: palette(black);
  font-size: 24px;
  text-decoration: none;

  &:hover {
    color: palette(black);
  }
}

%link-style-dark {
  &:hover {
    color: palette(white);
  }
}

.menu__container {
  position: relative;
  top: 0;
  z-index: 10;
  height: $menu-height-md;
  background-color: palette(pink);
}

.menu {
  position: relative;
  padding: 25px 0;

  .logo,
  .menu__icon {
    @include transition(color);
    position: relative;
    z-index: 10;

    span {
      @include transition(color);
    }

    &:hover {
      color: palette(blue);

      span {
        color: palette(blue) !important;
      }
    }
  }

  .logo {
    display: inline-block;
    color: text-contrast(palette(pink));

    h1 {
      margin: 0;
      font-size: 24px;

      span {
        display: none;

        @include breakpoint(md) {
          display: unset;
        }
      }
    }

    img {
      display: inline-block;
      width: 50px;
    }
  }

  .menu__wrapper {
    float: right;
    margin-top: -2px;

    .menu__icon {
      @include center(vertical);
      right: 20px;
      cursor: pointer;
      font-size: 22px;

      @include breakpoint(md) {
        display: none;
      }

      span {
        @extend %link-style;
        position: relative;
        margin-right: 5px;
      }

      .fa-times {
        display: none;
      }

      .fa-bars {
        display: inline-block;
      }
    }
  }

  .menu__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: unset !important;
    padding: 0 4rem;
    pointer-events: none;

    @include breakpoint(md) {
      position: unset;
      top: unset;
      right: unset;
      bottom: unset;
      left: unset;
      z-index: 1;
      padding: unset;
      background-color: unset;
      opacity: 1;
      pointer-events: unset;
    }

    &::before {
      @include pseudo();
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: palette(blue);
      opacity: 0;
      transition: transform $mobile-menu-animation-time ease-in-out;
    }

    .menu__links {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      @include breakpoint(md) {
        position: unset;
        opacity: 1;
      }

      ul {
        margin-left: 0;
        list-style: none;
      }
    }

    .links {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 100px;
      text-align: left;

      @include breakpoint(md) {
        position: unset;
        margin-top: unset;
        text-align: right;
      }

      .menu__item {
        position: relative;
        width: 100%;

        @include breakpoint(md) {
          display: inline-block;
          width: unset;
          font-size: em(18px);
        }

        a,
        label {
          display: block;
        }

        label {
          @extend %link-style;
        }

        &:not(.menu__item--search) {
          a {
            @extend %link-style;
          }
        }

        &.menu__item--active {
          a {
            color: palette(black);
            font-weight: 700;
          }
        }
      }
    }

    .social {
      position: absolute;
      bottom: 25px;
      left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint(md) {
        display: none;
      }

      a {
        color: palette(black);
      }
    }
  }

  .menu__checkbox {
    display: none;

    &:checked {
      ~ .menu__content {
        z-index: 9;
        pointer-events: unset;

        .menu__links {
          opacity: 1;
          transition: opacity $transition-time ease-in-out $mobile-menu-animation-time;
        }

        &::before {
          opacity: 1;
          transform: scale(40);

          @include breakpoint(md) {
            opacity: 0;
          }
        }
      }

      ~ .menu__icon {
        .fa-times {
          display: inline-block;
          color: palette(black);
        }

        .fa-bars {
          display: none;
        }
      }
    }
  }
}

.page--dark {
  .menu {
    .menu__content {
      .links {
        .menu__item {
          &:not(.menu__item--search) {
            a {
              @extend %link-style-dark;
            }
          }
        }

        .menu__item--active {
          a {
            color: palette(white) !important;
          }
        }
      }
    }
  }
}
