.social {
  display: flex;
  justify-content: center;

  li {
    padding: 0 10px;
  }

  a {
    @include transition(color);

    &:hover {
      color: palette(yellow);
    }
  }
}

.social--divider {
  li {
    &:not(:last-child)::after {
      content: ' /';
    }
  }
}
