.social {
  display: flex;
  justify-content: center;

  li {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    @include transition(color);

    &:hover {
      color: palette(yellow);
    }
  }
}

// .social--divider {
//   li {
//     &:not(:last-child)::after {
//       content: ' /';
//     }
//   }
// }
