---
layout: layouts/base.njk
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-6 col--text'>
      <h1><span>Our Church Too</span> {{ header }}</h1>
      {% include 'partials/social.njk' %}
    </div>
    <div class='col col-xs-12 col-md-6 col--image'>
      <img src='/img/uploads/oct_hero_image.png' />
    </div>
  </div>
</div>
<div class='section section--intro'>
  <div class='row center-xs'>
    <div class='col-xs-12 col-md-7 text-left'>
      {{ content | safe }}
    </div>
  </div>
</div>
<div class='section section--get-involved' id='get-involved'>
  <div class='row'>
    <div class='col-xs-12'>
      <h2>Get Involved</h2>
      <p>{{ get_involved_intro }}</p>
    </div>
    {% for item in get_involved %}
      <div class='col-xs-12 col-md-3'>
        <a href='{{ item.link }}' target='_blank' class='get-involved__item' />
          <i class='{{ item.icon }}'></i>
          <h3>{{ item.title }}</h3>
          <p>{{ item.blurb }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
