---
layout: layouts/base.njk
---

{% set filtersList = [
  {
    id: 'all',
    label: 'All'
  },
  {
    id: 'the_oral_tradition',
    label: 'The Oral Tradition'
  },
  {
    id: 'advent_2020',
    label: 'Advent 2020'
  },
  {
    id: 'advent_2021',
    label: 'Avent 2021'
  },
  {
    id: 'bright_spots',
    label: 'Bright Spots'
  },
  {
    id: 'conference_2021',
    label: 'Conference 2021'
  },
  {
    id: 'dear_me',
    label: 'Dear Me'
  },
  {
    id: 'lets_talk_about',
    label: "Let's Talk About"
  },
  {
    id: 'age',
    label: 'Age'
  },
  {
    id: 'allyship',
    label: 'Allyship'
  },
  {
    id: 'bible',
    label: 'Bible'
  },
  {
    id: 'community',
    label: 'Community'
  },
  {
    id: 'culture',
    label: 'Culture'
  },
  {
    id: 'disability',
    label: 'Disability'
  },
  {
    id: 'environment',
    label: 'Environment'
  },
  {
    id: 'family',
    label: 'Family'
  },
  {
    id: 'gender',
    label: 'Gender'
  },
  {
    id: 'lgbtq',
    label: 'LGBTQ+'
  },
  {
    id: 'mental_health',
    label: 'Mental Health'
  },
  {
    id: 'mission',
    label: 'Mission'
  },
  {
    id: 'race',
    label: 'Race'
  },
  {
    id: 'relationships',
    label: 'Relationships'
  },
  {
    id: 'spotlight',
    label: 'Spotlight'
  },
  {
    id: 'testimony',
    label: 'Testimony'
  }
] %}
<div class='section section--hero'>
  <div class='row center-md'>
    <div class='col col-xs-12 col-md-8 col--text'>
      {{ content | safe }}
    </div>
  </div>
</div>
<div class='section section--articles'>
  <div class='filter__wrapper'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='select__wrapper select__wrapper--caps-centered'>
          <select class='input js-radio-filter-select'>
            {% for filter in filtersList %}
              <option value='filter-{{ filter.id }}' {{ 'selected' if loop.first }}>{{ filter.label }}</option>
            {% endfor %}
          </select>
        </div>

        {% for filter in filtersList %}
          <input id='filter-{{ filter.id }}' value='{{ filter.id }}' name='filter' type='radio' class='filter__input' {{ 'checked' if loop.first }}>
          <label for='filter-{{ filter.id }}' class='filter__label js-tab-marker__target {{ "js-tab-marker--default" if loop.first }}'>{{ filter.label }}</label>
        {% endfor %}

        <div class='tab-marker js-tab-marker--filter'></div>

        <div class='archive__list'>
          <div class='row'>
            {% for item in collections.features %}
              {% include 'partials/article-mini.njk' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
