---
layout: layouts/base.njk
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-8 col--text'>
      {{ content | safe }}
    </div>
  </div>
</div>
<div class='section section--articles'>
  <div class='row'>
    {% for item in collections.posts %}
      {% include 'partials/article-mini.njk' %}
    {% endfor %}
  </div>
</div>
