---
layout: /layouts/base.njk
---
<div class='section section--contributor'>
  <div class='contributor-wide'>
    <div class='row'>
      <div class='col-xs-12 col-md-4'>
        {% include 'partials/contributor-image.njk' %}
      </div>
      <div class='col-xs-12 col-md-8'>
        <div class='contributor-wide__text'>
          <h1>{{ title }}</h1>
          {% if pronouns %}<h4 class='font--italic font--light'>{{ pronouns }}</h4>{% endif %}
          <div class='flex-spread'>
            <h4>{{ role }}</h4>
            {% include 'partials/contributor-social.njk' %}
          </div>
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    {% for item in collections.all | reverse %} {# this collection is not reversed by default #}
      {% if only_posts %}
        {% if item.data.contributor | includes(title) %}
          {% include 'partials/article-mini.njk' %}
        {% endif %}
      {% else %}
        {% if item.data.contributor | includes(title) or item.data.artist | includes(title) %}
          {% include 'partials/article-mini.njk' %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>