---
layout: layouts/base.njk
---
<div class='section section--intro'>
  <div class='row text-left'>
    <div class='col-xs-12 col-md-8'>
      {{ content | safe }}
    </div>
  </div>
</div>
<div class='section section--contributors'>
  <div class='row'>
    <div class='col-xs-12 text-center'><h1>Team</h1></div>
    {% for person in collections.team %}
      {% include 'partials/contributor.njk' %}
    {% endfor %}
  </div>
  <div class='row'>
  <div class='col-xs-12 text-center'><h1>Contributors</h1></div>
    {% for person in collections.contributor | reverse %}
      {% include 'partials/contributor.njk' %}
    {% endfor %}
  </div>
  <div class='row'>
  <div class='col-xs-12 text-center'><h1>Artists</h1></div>
    {% for person in collections.artist | reverse %}
      {% include 'partials/contributor.njk' %}
    {% endfor %}
  </div>
</div>
