---
layout: layouts/base.njk
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-6 col--text'>
      <h1><span>Our Church Too</span> {{ header }}</h1>
      {% include 'partials/social.njk' %}
    </div>
    <div class='col col-xs-12 col-md-6 col--image'>
      <img src='/img/uploads/oct_family_banner.png' />
    </div>
  </div>
</div>

<div class='section section--articles'>
  <div class='col-xs-12 text-center'>{{ content | safe }}</div>
  <div class='hr'></div>
  {% for item in collections.posts | limitTo(4) %}
    {% include 'partials/article-item.njk' %}
  {% endfor %}
  <div class='row center-xs'>
    <div class='col-xs-12 col-md-6 text-center'>
      <a href='/archive/' class='btn btn--primary btn--wide'>
        <span>Read more</span>
      </a>
    </div>
  </div>
</div>
