---
layout: /layouts/base.njk
---
<div class='row center-xs'>
  <div class='col-xs-12 col-md-7 text-left'>
    <div class='section section--standard section--post'>
      <div class='post__header text-center'>
        <h1>{{ title }}</h1>
        {% if ignore_info %}
        {% else %}
          <h4>written on {{ page.date | readableDate }} {% if contributor %}by{% endif %} {% for person in contributor %}<a class='link--color' href='{% for item in collections.contributors %}
            {% if item.data.title === person %}
              {{ item.url }}
            {% endif %}
          {% endfor %}'>{{ person }}</a>{% if loop.revindex0 === 0 %}{% elif loop.revindex0 === 1 %} &amp; {% else %}, {% endif %}
        {% endfor %}</h4>
        {% include 'partials/post-social.njk' %}
        {% endif %}
      </div>

      {% if image and category !== 'Video' %}
        <img src='{{ image }}' />
        {% if artist %}
          <p class='post__artist'>Art by {% for person in artist %}<a class='link--color' href='{% for item in collections.contributors %}
            {% if item.data.title === person %}
              {{ item.url }}
            {% endif %}
          {% endfor %}'>{{ person }}</a>{% if loop.revindex0 === 0 %}{% elif loop.revindex0 === 1 %} &amp; {% else %}, {% endif %}
        {% endfor %}</p>
        {% endif %}
      {% endif %}

      {{ content | safe }}

      {% if ignore_info %}
      {% else %}
        <div class='post__footer'>
          {% include 'partials/post-social.njk' %}
          <p>
            <a class='link--color' href='/archive/'><i class='fal fa-long-arrow-left'></i> View all posts</a>
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</div>