---
layout: /layouts/base.njk
---
{% if ignore_info %}
{% else %}
{% set tag = tags | first %}
{% endif %}

<div class='row center-xs'>
  <div class='col-xs-12 col-md-7 text-left'>
    <div class='section section--standard section--post {% if ignore_info %}section--post--ignore-info{% endif %}'>
      <div class='post__header text-center'>
        <h1>{{ title }}</h1>
        {% if ignore_info %}
        {% else %}
          <h4>written on {{ page.date | readableDate }} {% if contributor %}by{% endif %} {% for person in contributor %}<a class='link--color' href='{% for item in collections.contributors %}
            {% if item.data.title === person %}
              {{ item.url }}
            {% endif %}
          {% endfor %}'>{{ person }}</a>{% if loop.revindex0 === 0 %}{% elif loop.revindex0 === 1 %} &amp; {% else %}, {% endif %}
        {% endfor %}</h4>
        {% if artist %}
          <h4>Art by {% for person in artist %}<a class='link--color' href='{% for item in collections.contributors %}
            {% if item.data.title === person %}
              {{ item.url }}
            {% endif %}
          {% endfor %}'>{{ person }}</a>{% if loop.revindex0 === 0 %}{% elif loop.revindex0 === 1 %} &amp; {% else %}, {% endif %}
          {% endfor %}</h4>
        {% endif %}
        {% include 'partials/post-social.njk' %}
        {% endif %}
      </div>

      {% if image and category !== 'Video' %}
        <img class='post__hero' src='{{ image }}' />
      {% endif %}

      <div class='post__content'>
        {{ content | safe }}
      </div>

      {% if ignore_info %}
      {% else %}
        <div class='post__footer'>
          {% include 'partials/post-social.njk' %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if ignore_info %}
  {% else %}
    <div class='section section--post__read-next'>
      <div class='col-xs-12 text-left'>
        <h2>If you enjoyed this post about <em>{{ tag }}</em> you might want to read these next</h2>
        <div class='row'>
          {% for item in collections[tag] | reverse %}
            {% if loop.index0 > 0 and loop.index0 < 4 %}
              {% include 'partials/article-mini.njk' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>