---
layout: layouts/base.njk

title: Archive

menukey: archive
permalink: /archive/index.html
---
<div class='section section--articles'>
  <div class='row'>
    {% for item in collections.posts %}
      {% include 'partials/article-mini.njk' %}
    {% endfor %}
  </div>
</div>
