---
layout: layouts/post.njk
title: Calendar

ignore_info: true

permalink: /events/calendar.html
---
<p>This is a calendar outlining all the fun and exciting events here at Our Church Too.</p>
<div class='row row--button'>
  <div class='col-xs-12 col-md-6'>
    <a href='https://calendar.google.com/calendar/u/0/r?cid=c_tb83kjvqti26bh4lecg09h3nu4@group.calendar.google.com' class='btn btn--primary'><i class='fab fa-google'></i> Add to Google Calendar</a>
  </div>
  <div class='col-xs-12 col-md-6'>
    <a href='webcal://calendar.google.com/calendar/ical/c_tb83kjvqti26bh4lecg09h3nu4%40group.calendar.google.com/public/basic.ics' class='btn btn--primary'><i class='fab fa-apple'></i> Add to iCal</a>
  </div>
</div>

<div class='gallery'>
  <div id='video' class='video__wrapper is-wider'>
    <iframe src="https://calendar.google.com/calendar/embed?src=c_tb83kjvqti26bh4lecg09h3nu4%40group.calendar.google.com&ctz=Europe%2FLondon" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>