---
layout: layouts/base.njk

menukey: home
permalink: /index.html
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-7 col--text'>
      <div class='text__wrapper'>
        <h1><span>Our Church Too</span> is a collaborative story sharing platform giving voices to the voiceless.<br />We love Jesus, and we love the church.</h1>
        {% include 'partials/social.njk' %}
        <div class='footer__newsletter'>
          <p>Stay up to date with all the latest.</p>
          <form id="newsletter" class="subscribe" action="/.netlify/functions/form-handler" method="post">
            <input type="email" id="inputEmail" name='email' placeholder="Enter email to subscribe" required autofocus>
            <button type="submit" class='btn btn--secondary btn--float'>Subscribe</button>
          </form>
          <p id="message"></p>
        </div>
      </div>
    </div>
    <div class='col col-xs-12 col-md-5 col--image'>
      <i class='fal fa-church'></i>
    </div>
  </div>
</div>
