---
layout: layouts/base.njk

menukey: home
permalink: /index.html
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-6 col--text'>
      <div class='text__wrapper'>
        <h1><span>Our Church Too</span> is a collaborative sharing stories of experiences of minorities within churches around the world.</h1>
        {% include 'partials/social.njk' %}
      </div>
    </div>
    <div class='col col-xs-12 col-md-6 col--image'>
      <i class='fal fa-church'></i>
    </div>
  </div>
</div>
