---
layout: layouts/base.njk
title: Newsletter
menukey: newsletter
permalink: /newsletter/index.html
---
<div class='section section--hero'>
  <div class='row'>
    <div class='col col-xs-12 col-md-8 col--text'>
      <h2>Jesus sent out the original good news, but our news is pretty awesome too, consider signing up to our weekly blast!</h2>
    </div>
  </div>
</div>
<div class='section'>
  <div class='row'>
    <div class='col-xs-12'>
      {% include 'partials/newsletter-form.njk' %}
    </div>
  </div>
</div>
