.page--home {
  .section--hero {
    @include background-wide(palette(blue));
  }

  .section--articles {
    padding-top: 0 !important;

    h1 {
      margin: 60px 0 40px;
    }

    .hr {
      margin-bottom: 20px;
    }

    .btn {
      margin-top: $section-margin;
    }
  }
}
