.page--archive {
  .section--hero {
    @include background-wide(palette(purple));
  }
}

.section--post {
  .post__header {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .post__artist {
    font-size: em(14px);
    font-style: italic;
    text-align: center;
  }

  .post__footer {
    margin-top: 50px;
  }

  iframe,
  .instagram-media {
    margin: 0 auto 12px !important;
  }

  .social {
    font-size: em(20px);

    a {
      &:hover {
        color: palette(blue);
      }
    }
  }
}