.page--archive {
  .section--hero {
    @include background-wide(palette(purple));
  }
}

.section--post {
  .post__header {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .post__footer {
    margin-top: 50px;
  }
}