.page--archive {
  .section--hero {
    @include background-wide(palette(purple));
  }
}

.section--post {
  .post__header {
    margin-bottom: 50px;
  }

  img {
    border-radius: $border-radius;
  }

  .post__artist {
    font-size: em(14px);
    font-style: italic;
    text-align: center;
  }

  .post__content {
    p {
      margin-bottom: 25px;
      font-size: 18px;
    }

    a {
      text-decoration: underline;
    }
  }

  .post__footer {
    margin-top: 50px;
  }

  iframe,
  .instagram-media {
    margin: 0 auto 12px !important;
  }

  .social {
    font-size: em(20px);

    a {
      &:hover {
        color: palette(blue);
      }
    }
  }
}

.gallery {
  position: relative;
  margin-bottom: 100px;

  @include breakpoint(md) {
    margin-bottom: 80px;
  }
}

.video__wrapper {
  position: relative;
  width: 100%;
  height: auto;

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%; // Landscape 16:9
  }

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &.is-wider {
    left: -30px;
    width: calc(100% + 60px);

    @include breakpoint(md) {
      left: -90px;
      width: calc(100% + 180px);
    }
  }
}

blockquote {
  max-width: 680px;
  margin: 50px auto 50px 30px;

  p {
    position: relative;
    font-style: italic;

    &::before {
      position: absolute;
      top: -20px;
      left: -40px;
      content: '“';
      color: palette(purple);
      font-size: 48px;
      font-weight: 700;
    }
  }
}
