@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

p,
li {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  margin: 25px 0;
}