// stylelint-disable

$palettes: (
  white: (
    base: #FFFFFF,
    pale: #F2F4F6
  ),
  black: (
    base: #121212,
  ),
  grey: (
    base: #999999,
  ),
  blue: (
    base: #90E2E9
  ),
  yellow: (
    base: #FFF87D
  ),
  green: (
    base: #77DD77
  ),
  purple: (
    base: #B44AFF
  ),
  pink: (
    base: #FF98CF,
    pale: #ffddef
  )
);