.btn {
  @include transition((color, background-color));
  @extend %font-sans-upper;
  display: block;
  padding: 16px;
  border: 0px;
  background-color: palette(blue);
  color: text-contrast(palette(blue));
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none !important;

  &:hover {
    background-color: palette(purple);
    color: text-contrast(palette(purple));
  }
}

.btn--primary {
  background-color: palette(blue);
  color: text-contrast(palette(blue));

  &:hover {
    background-color: palette(purple);
    color: text-contrast(palette(purple));
  }
}

.btn--secondary {
  background-color: palette(pink);
  color: text-contrast(palette(pink));

  &:hover {
    background-color: palette(purple);
    color: text-contrast(palette(purple));
  }
}

.btn--wide {
  width: 100%;
}

.row--button {
  .col-xs-12 {
    margin-bottom: 20px;
  }
}
