<div class='col col-xs-12 col-md-4'>
  <a class='article-mini' href='{{ item.url }}'>
    {# <img src='{{ item.img }}' /> #}
    <div class='item__text'>
      <p class='item__info'>
        <span class='item__category__wrapper'>
          <span class='item__category'>{{ item.data.category }} /</span>
        </span>
        <span class='item__tags'>
          {% for tag in item.data.tags %}
            {{ tag }}{% if loop.last !== true %},{% endif %}
          {% endfor %}
        </span>
      </p>
      <h2 class='item__title'>{{ item.data.title }}</h2>
      <p>{{ item.template.frontMatter.content | truncate(150) }}</p>
      <h4 class='item__info--sub'><span class='item__author'>By {{ item.data.author.name }}</span>, <span class='item__time'>A {{ item.template.frontMatter.content | readingTime }} read</span></h4>
    </div>
  </a>
</div>