<div class='col col-xs-12 col-md-4 article-mini__wrapper' data-filter='all {{ item.data.tags | join(' ') }}'>
  <a class='article-mini' href='{{ item.url }}'>
    {% if item.data.image %}
      <img src='{{ item.data.image }}' alt='Artistic impression of article {{ item.data.title }}' />
    {% endif %}
    <div class='item__text'>
      <p class='item__info'>
        <span class='item__category__wrapper'>
          <span class='item__category'>{{ item.data.category }} /</span>
        </span>
        <span class='item__tags'>
          {% for tag in item.data.tags %}
            {{ tag | postReadableLabel }}{% if loop.last !== true %},{% endif %}
          {% endfor %}
        </span>
      </p>
      <h2 class='item__title'>{{ item.data.title }}</h2>
      {% include 'partials/article-description.njk' %}
      <h4 class='item__info--sub'>
        <span class='item__author'>{% include 'partials/article-contributor.njk' %}</span>{% if item.data.contributor %},<br />{% endif %}
        <span class='item__time'>A {{ item.template.frontMatter.content | readingTime }} read</span>
      </h4>
    </div>
  </a>
</div>