{% if image %}
  <div class='contributor__image'>
    <img src='{{ image }}' alt='Profile photo of {{ person.data.title }}'>
  </div>
{% else %}
  <div class='contributor__image contributor__image--placeholder'>
    <i class='fal fa-user'></i>
  </div>
{% endif %}