<div class='section section--footer'>
  <div class='container container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-md-4'>
        <p>Social</p>
        {% include 'partials/social.njk' %}
      </div>
      <div class='col-xs-12 col-md-8'>
        {% include 'partials/newsletter-form.njk' %}
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 text-center'>
        <p>Our Church Too is not affiliated with any churches or global network.</p>
      </div>
      <div class='col-xs-12 col-md-4'>
        <p>&copy; {{ a | currentYear }} Our Church Too</p>
      </div>
      <div class='col-xs-12 col-md-4'>
        <p>
          <ul class='legal-links'>
            <li><a href='/about/'>about</a></li>
            <li><a href='/about/#get-involved'>contact</a></li>
            <li><a href='/legal/'>legal</a></li>
          </ul>
        </p>
      </div>
      <div class='col-xs-12 col-md-4'>
        <p>We don't track you</p>
      </div>
    </div>
  </div>
</div>