<div class='section section--footer'>
  <div class='container container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-md-4'>
        <p>Social</p>
        {% include 'partials/social.njk' %}
      </div>
      <div class='col-xs-12 col-md-8'>
        <div class='footer__newsletter'>
          <p>Stay up to date with all the latest.</p>
          <form id="newsletter" class="subscribe" action="/.netlify/functions/form-handler" method="post">
            <input type="email" id="inputEmail" name='email' placeholder="Enter email to subscribe" required>
            <button type="submit" class='btn btn--primary btn--float'>Subscribe</button>
          </form>
          <p id="message"></p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 col-md-4'>
        <p>&copy; {{ a | currentYear }} Our Church Too</p>
      </div>
      <div class='col-xs-12 col-md-4'>
        <p>
          <ul class='legal-links'>
            <li><a href='/about/'>about</a></li>
            <li><a href='/about/#get-involved'>contact</a></li>
            <li><a>legal</a></li>
          </ul>
        </p>
      </div>
      <div class='col-xs-12 col-md-4'>
        <p>We don't track you</p>
      </div>
    </div>
  </div>
</div>