<div class='footer__newsletter'>
  <p>Stay up to date with all the latest.</p>
  <form id="newsletter" class="subscribe" action="/.netlify/functions/form-handler" method="post">
    <input type="email" id="inputEmail" name='email' placeholder="Enter email to subscribe" required>
    <button type="submit" class='btn btn--primary btn--float'>Subscribe</button>
  </form>
  <p id="message"></p>
</div>