<ul class='social'>
  <li><a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://ourchurchtoo.com{{ page.url }}'><i class='fab fa-facebook'></i></a></li>
  <li><a target='_blank' href='https://pinterest.com/pin/create/button/?url=https://ourchurchtoo.com{{ page.url }}&media=https://ourchurchtoo.com{{ image }}'><i class='fab fa-pinterest'></i></a></li>
  <li><a target='_blank' href='https://twitter.com/intent/tweet?url=https://ourchurchtoo.com{{ page.url }}'><i class='fab fa-twitter'></i></a></li>
  <li><a target='_blank' href='https://wa.me/?text=https://ourchurchtoo.com{{ page.url }}'><i class='fab fa-whatsapp'></i></a></a>
  <li><a target='_blank' href='mailto:?body=https://ourchurchtoo.com{{ page.url }}&subject={{ title }}'><i class='fal fa-envelope-open-text'></i></a></li>
</ul>