<ul class='social'>
  <li><a class='link--social' href='https://instagram.com/ourchurchtoo' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Instagram'><i class='fab fa-instagram'></i> instagram</a></li>
  {# <li><a class='link--social' href='https://twitter.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Twitter'>twitter</a></li> #}
</ul>