<ul class='social social--divider'>
  <li><a class='link--social' href='https://instagram.com/ourchurchtoo' target='_blank' rel='noopener noreferrer' aria-label='Find OurChurchToo on Instagram'><i class='fab fa-instagram'></i> instagram</a></li>
  <li><a class='link--social' href='https://twitter.com/ourchurchtoo' target='_blank' rel='noopener noreferrer' aria-label='Find OurChurchToo on Twitter'><i class='fab fa-twitter'></i> twitter</a></li>
  <li><a class='link--social' href='https://www.facebook.com/ourchurchtoo' target='_blank' rel='noopener noreferrer' aria-label='Find OurChurchToo on Facebook'><i class='fab fa-facebook'></i> facebook</a></li>
</ul>